-- CreateEnum
CREATE TYPE "Role" AS ENUM ('SUPERADMIN', 'ADMIN', 'USER');

-- CreateEnum
CREATE TYPE "SupportStatus" AS ENUM ('TERKUNCI', 'MENGARAH', 'DINAMIS');

-- CreateEnum
CREATE TYPE "Characteristic" AS ENUM ('SOLID', 'RENTAN', 'WASPADA');

-- CreateEnum
CREATE TYPE "CandidateColor" AS ENUM ('BLUE', 'RED', 'YELLOW', 'GREEN');

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "username" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "role" "Role" NOT NULL DEFAULT 'USER',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Candidate" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "color" "CandidateColor" NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "affiliation" TEXT,

    CONSTRAINT "Candidate_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Bpd" (
    "id" TEXT NOT NULL,
    "provinceName" TEXT NOT NULL,
    "totalVotes" INTEGER NOT NULL DEFAULT 5,
    "targetMc" TEXT,
    "politicalAffiliation" TEXT,
    "supportStatus" "SupportStatus" NOT NULL,
    "characteristic" "Characteristic" NOT NULL,
    "updatedById" TEXT NOT NULL,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "afiliasiPolitik" BOOLEAN NOT NULL DEFAULT false,
    "atributFisik" BOOLEAN NOT NULL DEFAULT false,
    "kedekatanMc" BOOLEAN NOT NULL DEFAULT false,
    "sosialMedia" BOOLEAN NOT NULL DEFAULT false,
    "suratBaiat" BOOLEAN NOT NULL DEFAULT false,
    "videoDukungan" BOOLEAN NOT NULL DEFAULT false,
    "supportedCandidateId" TEXT,

    CONSTRAINT "Bpd_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CandidateIndicator" (
    "id" TEXT NOT NULL,
    "bpdId" TEXT NOT NULL,
    "candidateId" TEXT NOT NULL,
    "suratBaiat" BOOLEAN NOT NULL DEFAULT false,
    "afiliasiPolitik" BOOLEAN NOT NULL DEFAULT false,
    "videoDukungan" BOOLEAN NOT NULL DEFAULT false,
    "kedekatanMc" BOOLEAN NOT NULL DEFAULT false,
    "atributFisik" BOOLEAN NOT NULL DEFAULT false,
    "sosialMedia" BOOLEAN NOT NULL DEFAULT false,
    "totalPoints" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "score" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "estimatedVotes" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CandidateIndicator_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_username_key" ON "User"("username");

-- CreateIndex
CREATE UNIQUE INDEX "Candidate_name_key" ON "Candidate"("name");

-- CreateIndex
CREATE UNIQUE INDEX "Bpd_provinceName_key" ON "Bpd"("provinceName");

-- CreateIndex
CREATE UNIQUE INDEX "CandidateIndicator_bpdId_candidateId_key" ON "CandidateIndicator"("bpdId", "candidateId");

-- AddForeignKey
ALTER TABLE "Bpd" ADD CONSTRAINT "Bpd_updatedById_fkey" FOREIGN KEY ("updatedById") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Bpd" ADD CONSTRAINT "Bpd_supportedCandidateId_fkey" FOREIGN KEY ("supportedCandidateId") REFERENCES "Candidate"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CandidateIndicator" ADD CONSTRAINT "CandidateIndicator_bpdId_fkey" FOREIGN KEY ("bpdId") REFERENCES "Bpd"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CandidateIndicator" ADD CONSTRAINT "CandidateIndicator_candidateId_fkey" FOREIGN KEY ("candidateId") REFERENCES "Candidate"("id") ON DELETE CASCADE ON UPDATE CASCADE;

